.container {
  max-width: 100% !important;
  width: 100%;
  height: 652px;
  perspective: 1000;
  -webkit-perspective: 1000;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  z-index: 60;
}

.coverflow {
  position: absolute;
  top: 30%;
  left: 49%;
  backface-visibility: visible;
  transform: scale(1) translateZ(-125px);
  transform-style: preserve-3d;
  transform-origin: center;
  cursor: pointer;
}

.coverflowItem {
  width: 740px;
  height: 555px;
  transform-origin: 50% 50%;
  position: absolute;
  backface-visibility: visible;
  top: -175px;
  left: -250px;
  background-color: #111;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 1s all ease-out;
}
